.idea
*.iml
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
public_html/public/public/
public_html/storage/framework/views/*
public_html/storage/framework/sessions/*
public_html/storage/framework/views/